version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: yarnitt
      POSTGRES_PASSWORD: yarnittpass
      POSTGRES_DB: yarnitt_dev
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  mongodb:
    image: mongo:7.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin_user
      MONGO_INITDB_ROOT_PASSWORD: AdminPass123!
      MONGO_INITDB_DATABASE: yarnitt
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  db-data:
  redis-data:
  mongo-data: