version: "3.8"
services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/yarnitt
      - NODE_ENV=development
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo

volumes:
  mongo-data:
